@import 'primeicons/primeicons.css';

:root {
	/* COLORS */
	--DANGER-RED: rgb(220, 0, 0);
	--LOGO-COLOR: rgb(194, 194, 194);
	--LOGO-HOVER-COLOR: rgb(200, 200, 200);
	--TEXT-COLOR: rgb(44, 44, 44);
	--HOME-HEADER-COLOR: rgb(1, 47, 85);
	--MENU-TEXT-COLOR: rgb(230, 230, 230);
	--MENU-HOVER-TEXT-COLOR: rgb(200, 200, 200);

	/* BACKGROUNDS */
	--SEARCHBAR-BACKGROUND: rgb(240, 240, 240);
	--CENTRAL-BACKGROUND: rgb(240, 240, 240);
	--COLUMNS-BACKGROUND: rgb(230, 230, 230);
	--TEXT-BACKGROUND: rgba(204, 204, 204, 0.98);
	--SELECTED-LINK-BACKGROUND: rgb(49, 127, 62);
	--MENU-BACKGROUND: rgb(0, 50, 90);
	--THEME-HEADER-BACKGROUND: rgb(0, 50, 90);
	--BODY-BACKGROUND: rgb(190, 190, 190);

	/* SHADOWS */
	--GLOW-BOX-SHADOW: rgba(158, 158, 158, 0.8) 0 0 10px 2px;
	--COMPONENT-BOX-SHADOW: 0 5px 6px -3px black;
	--INPUT-BOX-SHADOW: 0px 2px 3px -2px black;
	--PNG-IMAGE-SHADOW: 5px 5px 5px #222;
	--MENU-BOX-SHADOW: 0px 0px 10px 0px black;
	--LOGO-SHADOW: 3px 3px rgba(22, 22, 22, 0.6);
	--TEXT-SHADOW:
		1px 1px 1px rgba(20, 20, 10, 1), -1px 1px 1px rgba(20, 20, 10, 1),
		1px -1px 1px rgba(20, 20, 10, 1);

	/* SIZES */
	--LEFT-COLUMN-WIDTH: 16%;
	--RIGHT-COLUMN-WIDTH: 16%;
	--CENTRAL-COLUMN-WIDTH: 68%;
	--MAIN-COMPONENT-WIDTH: 100%;
	--APP-COMPONENT-WIDTH: 90%;
	--MAIN-COMPONENT-MIN-HEIGHT: 810px;
	--TITLE-HEIGHT: 64px;
	--APP-PADDING: 2%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	font-size: 0.9rem;
	color: var(--TEXT-COLOR);
	background-color: var(--BODY-BACKGROUND);
}

#app {
	width: 100%;
	min-height: var(--MAIN-COMPONENT-MIN-HEIGHT);
}

/* UserAccount */
.account-info {
	position: relative;
	background-color: white;
	padding: 25px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.account-header {
	display: flex;
	gap: 25px;
	margin-bottom: 20px;
}

.account-short-info {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: small;
	width: 50%;
}

.account-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 60%;
}

.slide-container {
	position: fixed;
	top: 10%;
	right: 0;
	z-index: 2;
	background-color: var(--MENU-BACKGROUND);
	padding: 15px;
	box-shadow: var(--MENU-BOX-SHADOW);
	animation-name: slide;
	animation-duration: 0.2s;
	transform: translateX(0%);
	min-width: 220px;
}

.slide-container button {
	border-radius: 0;
	width: 100%;
}

@media (max-width: 1500px) {
	#app {
		width: 100%;
	}
}

@media (max-width: 1100px) {
	.spinning-circle {
		width: 100%;
	}

	.create-form-container {
		width: 100%;
	}

	.account-info {
		margin: 0;
	}

	.account-container {
		width: 100%;
	}
}

@keyframes slide {
	0% {
		transform: translateX(100%);
	}
}
